<ion-content [fullscreen]="true">
  <div id="nav">Pokedex</div>

  <div id="search-zone">
    <div>
      <input type="search" #search placeholder="Busca tu pokemon" />
      <button (click)="searchPokemon(search.value)" id="btn__search">
        <img src="../../assets/img/icon/search-regular.png" alt="search" />
      </button>
    </div>
    <br /><br />
    <select name="" id="" (change)="getPokemonsType($event)">
      <option value="">Tipo de pokemon</option>
      <option value="normal">Normal</option>
      <option value="fighting">Lucha</option>
      <option value="flying">Vuelo</option>
      <option value="poison">Veneno</option>
      <option value="ground">Tierra</option>
      <option value="rock">Roca</option>
      <option value="bug">Insecto</option>
      <option value="ghost">Fantasma</option>
      <option value="steel">Acero</option>
      <option value="fire">Fuego</option>
      <option value="water">Agua</option>
      <option value="grass">Césped</option>
      <option value="electric">Eléctrico</option>
      <option value="psychic">Psíquico</option>
      <option value="ice">Hielo</option>
      <option value="dragon">Dragon</option>
      <option value="dark">Oscuro</option>
      <option value="fairy">Hada</option>
      <option value="stellar">Estelar</option>
    </select>
  </div>

  <section id="list-pokemon">
    @for(pokemon of pokemons; track pokemon.name){
    <div class="card">
      <div class="card__img">
        <img [src]="getImage(pokemon.id)" [alt]="pokemon.name" />
      </div>
      <span class="card__number">#{{ getId(pokemon.id) }}</span>
      <h2 class="card__name"><strong>{{ pokemon.name }}</strong></h2>

      <div style="display: inline-flex">
        @for(type of pokemon.types; track type.name){
        <div [class]="'card__type card__type--'+type.type.name">
          <img
            [src]="'../../assets/img/icon/'+type.type.name+'.svg'"
            alt="rayo"
          />
        </div>
        }
      </div>

      <button class="button" (click)="mostrarModal(pokemon)">
        Estadísticas
      </button>
    </div>
    }
  </section>

  @if(modalActive !== ''){
  <div [class]="'shadow-modal ' +modalActive">
    <div class="modal">
      <div class="modal__title">
        <img
          src="../../assets/img/icon/left-arrow.png"
          alt=""
          (click)="ocultarModal()"
        />
        <h2>{{pokemonModal.name}}</h2>
        <img
          src="../../assets/img/icon/x-regular.png"
          alt="x"
          (click)="ocultarModal()"
        />
      </div>
      <span class="modal__number">#{{ getId(pokemonModal.id) }}</span>
      <div style="display: inline-flex">
        @for(type of pokemonModal.types; track type.name){
        <div [class]="'card__type card__type--'+type.type.name">
          <img
            [src]="'../../assets/img/icon/'+type.type.name+'.svg'"
            alt="rayo"
          />
        </div>
        }
      </div>
      <div class="card__img">
        <img
          [src]="getImage(pokemonModal.id)" [alt]="pokemonModal.name"
        />
      </div>
      <div class="modal__info">
        <span>{{ pokemonModal.height / 10 }} m</span>
        <span>{{ pokemonModal.weight / 10 }} kg</span>
      </div>
      <p class="modal__description">
        {{ pokemonDescription }}
      </p>

      <div class="modal__metric">
        <div class="metric">
          <span>Velocidad</span>
          <div class="metric__range">
            <div [style]="'width:'+pokemonModal.stats[0].base_stat+'%;'">{{pokemonModal.stats[0].base_stat}}%</div>
          </div>
        </div>
        <div class="metric">
          <span>Defensa</span>
          <div class="metric__range">
            <div [style]="'width:'+pokemonModal.stats[3].base_stat+'%;'">{{pokemonModal.stats[3].base_stat}}%</div>
          </div>
        </div>
        <div class="metric">
          <span>Ataque</span>
          <div class="metric__range">
            <div [style]="'width:'+pokemonModal.stats[4].base_stat+'%;'">{{pokemonModal.stats[4].base_stat}}%</div>
          </div>
        </div>
        <div class="metric">
          <span>Puntos de vida</span>
          <div class="metric__range">
            <div [style]="'width:'+pokemonModal.stats[5].base_stat+'%;'">{{pokemonModal.stats[5].base_stat}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</ion-content>
